In [1]:
import numpy as np

## DataTypes and attributes

#### numpy's main data type is ndarray.. nd mean n dimentional array

In [3]:
a1 = np.array([1,2,3,4,4,5,6,6])
a1

array([1, 2, 3, 4, 4, 5, 6, 6])

In [4]:
type(a1)

numpy.ndarray

In [6]:
a2 = np.array([[3,4,5,6,7],[3,4,5,6,7],[3,5,2,4,5]])
a2

array([[3, 4, 5, 6, 7],
       [3, 4, 5, 6, 7],
       [3, 5, 2, 4, 5]])

In [8]:
a3 = np.array([[[3,4,5,6,7],[3,4,5,6,7],[3,5,2,4,5]], [[2,3,4,5,6],[3,4,5,6,6],[4,5,2,4,5]]])

In [9]:
a3

array([[[3, 4, 5, 6, 7],
        [3, 4, 5, 6, 7],
        [3, 5, 2, 4, 5]],

       [[2, 3, 4, 5, 6],
        [3, 4, 5, 6, 6],
        [4, 5, 2, 4, 5]]])

![title](numpy-anatomy-of-a-numpy-array.png)

In [10]:
a1.shape

(8,)

In [11]:
a2.shape, a3.shape

((3, 5), (2, 3, 5))

In [13]:
a1.ndim #ndim mean n dimention which show the dimention

1

In [14]:
a2.ndim, a3.ndim

(2, 3)

In [16]:
a3.dtype

dtype('int32')

In [17]:
a2.size

15

In [22]:
# Create datafram from numpy array

import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2  3  4
0  3  4  5  6  7
1  3  4  5  6  7
2  3  5  2  4  5

In [23]:
one = np.ones((4,3))

In [24]:
one

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [25]:
zero = np.zeros((3,6))

In [26]:
zero

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [32]:
rang_array = np.arange(0, 15, 2)
rang_array

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [33]:
random_int = np.random.randint(0, 15, size=(3,4))

In [34]:
random_int

array([[ 0,  7,  8, 12],
       [ 7, 13,  0,  5],
       [ 9,  1,  3,  8]])

In [38]:
random_array_2 = np.random.random((4,5))

In [39]:
random_array_2

array([[0.45593719, 0.70697994, 0.00931523, 0.68622997, 0.7757134 ],
       [0.73686427, 0.5182404 , 0.09047696, 0.69285924, 0.31955583],
       [0.16280871, 0.57811309, 0.80647886, 0.18561335, 0.1124276 ],
       [0.20135128, 0.74235399, 0.19321975, 0.80190307, 0.44828414]])

In [40]:
random_array_3 = np.random.rand(3, 2)

In [41]:
random_array_3

array([[0.69520682, 0.24864619],
       [0.76926039, 0.20199585],
       [0.03083292, 0.87457487]])

In [ ]:
#Pseudo-random numbers
np.random.seed()